

        body {
               background-color: pink;
        }

         p {
               font-size: 20px;
        }

        .lewy{
            float:left;
            width: 50%;
           
        }
        .prawy{
            width: 50%;
            float: right;
            
        }
        ul li {
            display: inline;
        }
        
        h2{
            font-size: 22px;
            font-size: 2em;
            font-size: x-small;
            font-size: larger;
            text-align: left;
        }
        
 