body {
               background-color: red;
               


}

               } 
        }
<div class=”row”>
<div class=”col-9”>

.img {
    width: 100px;
    height: auto;
    
}

footer p{
    text-align: center;
    margin: 0px;
}
.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
html {
  scroll-behavior: smooth;
}

…

/*dodanie pocz¹tkowe ukrycie przycisku */
.scroll {
    …
   display: none;
}
