body {
               background-color: red;
               


}

               } 
        }
<div class=”row”>
<div class=”col-9”>

.img {
    width: 100px;
    height: auto;
    
}

footer p{
    text-align: center;
    margin: 0px;
}
